# Build directories
/build/
build/
**/build/

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json
Makefile
*.dir/

# Visual Studio
.vs/
*.sln
*.slnx
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# Build outputs
Debug/
Release/
x64/
*.obj
*.pdb
*.ilk
*.exe
*.dll
*.lib
*.tlog
*.recipe
*.lastbuildstate

# VS Code
.vscode/settings.json


# MNIST dataset (large files, wont commit to git)
data/